/* line 3, ../../views/stylesheets/markupEditor.css.sass */
form {
  float: left; }
  /* line 6, ../../views/stylesheets/markupEditor.css.sass */
  form textarea {
    clear: both;
    height: 300px;
    width: 500px; }
    /* line 10, ../../views/stylesheets/markupEditor.css.sass */
    form textarea.markup {
      width: 490px;
      border-top-width: 1px;
      padding: 2px; }
  /* line 16, ../../views/stylesheets/markupEditor.css.sass */
  form .markupEditor {
    -moz-border-radius: 1em 1em 1em 1em;
    background: none repeat scroll 0 0 #f9f9f9;
    border: 1px solid #e4e4e4;
    margin: 1em 0 5em;
    overflow: hidden;
    padding: 1em;
    width: 500px; }
    /* line 24, ../../views/stylesheets/markupEditor.css.sass */
    form .markupEditor .preview {
      margin: 2em 0 0; }
    /* line 27, ../../views/stylesheets/markupEditor.css.sass */
    form .markupEditor .toolbar a {
      -moz-border-radius: 0.3em;
      -webkit-border-radius: 0.3em;
      -o-border-radius: 0.3em;
      -ms-border-radius: 0.3em;
      -khtml-border-radius: 0.3em;
      border-radius: 0.3em;
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#f4f4f4', endColorstr='#ececec');
      background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#ececec));
      background: -moz-linear-gradient(top, #f4f4f4, #ececec);
      /* +linear-gradient(center top , #F4F4F4, #ECECEC) */
      border: 1px solid #dddddd;
      color: #333333;
      display: block;
      float: left;
      height: 25px;
      margin: 0.2em 0.5em 0 0;
      overflow: hidden;
      text-shadow: 0 1px 0 white;
      width: 25px; }
      /* line 42, ../../views/stylesheets/markupEditor.css.sass */
      form .markupEditor .toolbar a.on {
        background: -webkit-gradient(linear, left top, left bottom, from(#599bdc), to(#3072b3));
        background: -moz-linear-gradient(top, #599bdc, #3072b3); }
      /* line 45, ../../views/stylesheets/markupEditor.css.sass */
      form .markupEditor .toolbar a:hover {
        background: -webkit-gradient(linear, left top, left bottom, from(#599bdc), to(#3072b3));
        background: -moz-linear-gradient(top, #599bdc, #3072b3);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#599bdc', endColorstr='#3072b3');
        /* +linear-gradient(center top , #599BDC, #3072B3) */
        color: white;
        text-decoration: none;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); }
      /* line 53, ../../views/stylesheets/markupEditor.css.sass */
      form .markupEditor .toolbar a.on:hover {
        background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#ececec));
        background: -moz-linear-gradient(top, #f4f4f4, #ececec); }
      /* line 56, ../../views/stylesheets/markupEditor.css.sass */
      form .markupEditor .toolbar a span {
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        height: 25px;
        overflow: hidden;
        text-indent: -5000px;
        width: 25px; }
      /* line 64, ../../views/stylesheets/markupEditor.css.sass */
      form .markupEditor .toolbar a.bold span {
        background-image: url("images/icons/text_bold.png"); }
      /* line 66, ../../views/stylesheets/markupEditor.css.sass */
      form .markupEditor .toolbar a.italic span {
        background-image: url("images/icons/text_italic.png"); }
      /* line 68, ../../views/stylesheets/markupEditor.css.sass */
      form .markupEditor .toolbar a.alignLeft span {
        background-image: url("images/icons/text_align_left.png"); }
      /* line 70, ../../views/stylesheets/markupEditor.css.sass */
      form .markupEditor .toolbar a.alignRight span {
        background-image: url("images/icons/text_align_right.png"); }
      /* line 72, ../../views/stylesheets/markupEditor.css.sass */
      form .markupEditor .toolbar a.alignCenter span {
        background-image: url("images/icons/text_align_center.png"); }
      /* line 74, ../../views/stylesheets/markupEditor.css.sass */
      form .markupEditor .toolbar a.link span {
        background-image: url("images/icons/link.png"); }
      /* line 76, ../../views/stylesheets/markupEditor.css.sass */
      form .markupEditor .toolbar a.insertImage span {
        background-image: url("images/icons/image.png"); }
    /* line 78, ../../views/stylesheets/markupEditor.css.sass */
    form .markupEditor .toolbar select {
      background-color: #f9f9f9;
      border: 1px solid #f9f9f9;
      float: right;
      margin-bottom: 0;
      padding: 0.5em 0.7em; }
      /* line 84, ../../views/stylesheets/markupEditor.css.sass */
      form .markupEditor .toolbar select:hover {
        -moz-border-radius: 0.5em;
        -webkit-border-radius: 0.5em;
        -o-border-radius: 0.5em;
        -ms-border-radius: 0.5em;
        -khtml-border-radius: 0.5em;
        border-radius: 0.5em;
        background-color: white;
        border: 1px solid #dddddd; }
    /* line 89, ../../views/stylesheets/markupEditor.css.sass */
    form .markupEditor .preview {
      min-height: 300px; }
      /* line 90, ../../views/stylesheets/markupEditor.css.sass */
      form .markupEditor .preview .left {
        text-align: left; }
      /* line 92, ../../views/stylesheets/markupEditor.css.sass */
      form .markupEditor .preview .right {
        text-align: right; }
      /* line 94, ../../views/stylesheets/markupEditor.css.sass */
      form .markupEditor .preview .center {
        text-align: center; }

/* line 98, ../../views/stylesheets/markupEditor.css.sass */
#link-dialog, #insertImage-dialog {
  display: none; }
  /* line 101, ../../views/stylesheets/markupEditor.css.sass */
  #link-dialog label, #insertImage-dialog label {
    float: left;
    clear: left; }
  /* line 104, ../../views/stylesheets/markupEditor.css.sass */
  #link-dialog input, #insertImage-dialog input {
    clear: left;
    float: left; }
  /* line 107, ../../views/stylesheets/markupEditor.css.sass */
  #link-dialog select, #insertImage-dialog select {
    clear: left;
    float: left; }
