.markupEditor {
  margin-bottom: 10px; }
  .markupEditor .textarea {
    background: none repeat scroll 0 0 #f9f9f9;
    border: 1px solid #e4e4e4;
    width: 650px;
    border-width: 0 1px 1px;
    padding: 5px; }
    .markupEditor .textarea textarea {
      height: 300px;
      width: 490px; }
  .markupEditor .preview {
    min-height: 300px;
    padding: 0;
    border: 1px dotted #e4e4e4;
    background-color: #eeeeee;
    background-image: -webkit-repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 20px, rgba(255, 255, 255, 0.5) 20px, rgba(255, 255, 255, 0.5) 40px);
    background-image: -moz-repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 20px, rgba(255, 255, 255, 0.5) 20px, rgba(255, 255, 255, 0.5) 40px); }
    .markupEditor .preview .left {
      text-align: left; }
    .markupEditor .preview .right {
      text-align: right; }
    .markupEditor .preview .center {
      text-align: center; }
    .markupEditor .preview h1, .markupEditor .preview h2, .markupEditor .preview h3, .markupEditor .preview h4, .markupEditor .preview p {
      display: block; }
    .markupEditor .preview p {
      min-height: 1em; }
  .markupEditor .toolbar {
    background: none repeat scroll 0 0 #f9f9f9;
    border: 1px solid #e4e4e4;
    width: 650px;
    padding: 3px 5px;
    height: 32px; }
    .markupEditor .toolbar a {
      -moz-border-radius: 0.3em;
      -webkit-border-radius: 0.3em;
      -o-border-radius: 0.3em;
      -ms-border-radius: 0.3em;
      -khtml-border-radius: 0.3em;
      border-radius: 0.3em;
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#f4f4f4', endColorstr='#ececec');
      background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#ececec));
      background: -moz-linear-gradient(top, #f4f4f4, #ececec);
      /* +linear-gradient(center top , #F4F4F4, #ECECEC) */
      border: 1px solid #dddddd;
      color: #333333;
      display: block;
      float: left;
      height: 25px;
      margin: 0.2em 0.5em 0 0;
      overflow: hidden;
      text-shadow: 0 1px 0 white;
      width: 25px; }
      .markupEditor .toolbar a.on {
        background: -webkit-gradient(linear, left top, left bottom, from(#599bdc), to(#3072b3));
        background: -moz-linear-gradient(top, #599bdc, #3072b3); }
      .markupEditor .toolbar a.disabled, .markupEditor .toolbar a.disabled:hover {
        background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f9f9f9));
        background: -moz-linear-gradient(top, #fefefe, #f9f9f9);
        cursor: default; }
      .markupEditor .toolbar a:hover {
        background: -webkit-gradient(linear, left top, left bottom, from(#599bdc), to(#3072b3));
        background: -moz-linear-gradient(top, #599bdc, #3072b3);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#599bdc', endColorstr='#3072b3');
        /* +linear-gradient(center top , #599BDC, #3072B3) */
        color: white;
        text-decoration: none;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); }
      .markupEditor .toolbar a.on:hover {
        background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#ececec));
        background: -moz-linear-gradient(top, #f4f4f4, #ececec); }
      .markupEditor .toolbar a span {
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        height: 25px;
        overflow: hidden;
        text-indent: -5000px;
        width: 25px; }
      .markupEditor .toolbar a.bold span {
        background-image: url("images/icons/text_bold.png"); }
      .markupEditor .toolbar a.italic span {
        background-image: url("images/icons/text_italic.png"); }
      .markupEditor .toolbar a.alignLeft span {
        background-image: url("images/icons/text_align_left.png"); }
      .markupEditor .toolbar a.alignRight span {
        background-image: url("images/icons/text_align_right.png"); }
      .markupEditor .toolbar a.alignCenter span {
        background-image: url("images/icons/text_align_center.png"); }
      .markupEditor .toolbar a.unorderedList span {
        background-image: url("images/icons/text_list_bullets.png"); }
      .markupEditor .toolbar a.orderedList span {
        background-image: url("images/icons/text_list_numbers.png"); }
      .markupEditor .toolbar a.link span {
        background-image: url("images/icons/link.png"); }
      .markupEditor .toolbar a.insertImage span {
        background-image: url("images/icons/image.png"); }
      .markupEditor .toolbar a.save span {
        background-image: url("images/icons/disk.png"); }
      .markupEditor .toolbar a.wysiwyg span {
        background-image: url("images/icons/layout.png"); }
    .markupEditor .toolbar select {
      background-color: #f9f9f9;
      border: 1px solid #f9f9f9;
      float: right;
      margin-bottom: 0;
      padding: 0.5em 0.7em; }
      .markupEditor .toolbar select:hover {
        -moz-border-radius: 0.5em;
        -webkit-border-radius: 0.5em;
        -o-border-radius: 0.5em;
        -ms-border-radius: 0.5em;
        -khtml-border-radius: 0.5em;
        border-radius: 0.5em;
        background-color: white;
        border: 1px solid #dddddd; }

#link-dialog, #insertImage-dialog {
  display: none; }
  #link-dialog label, #insertImage-dialog label {
    display: block;
    float: left;
    clear: left;
    width: 130px;
    padding: 0.53em 0;
    margin: 0 0.4em;
    text-align: right; }
  #link-dialog span.clearButton, #insertImage-dialog span.clearButton {
    display: block;
    float: left;
    width: 300px;
    margin: 0 0 0.4em;
    border: 1px solid #d3d3d3; }
    #link-dialog span.clearButton.focus, #insertImage-dialog span.clearButton.focus {
      border: 1px solid #eec77c; }
    #link-dialog span.clearButton.error, #insertImage-dialog span.clearButton.error {
      color: #666666;
      border: 1px solid red; }
    #link-dialog span.clearButton.ui-corner-all, #insertImage-dialog span.clearButton.ui-corner-all {
      width: 342px; }
      #link-dialog span.clearButton.ui-corner-all input, #insertImage-dialog span.clearButton.ui-corner-all input {
        width: 312px; }
    #link-dialog span.clearButton input, #insertImage-dialog span.clearButton input {
      width: 270px;
      border: none;
      padding: 0.49em 0;
      margin: 0 0.4em; }
      #link-dialog span.clearButton input:focus, #insertImage-dialog span.clearButton input:focus {
        border: none;
        outline: none; }
    #link-dialog span.clearButton span, #insertImage-dialog span.clearButton span {
      width: 10px;
      cursor: pointer; }
  #link-dialog input, #link-dialog select, #insertImage-dialog input, #insertImage-dialog select {
    width: 300px;
    padding: 0.6em 0;
    margin: 0.4em 0; }
  #link-dialog .ui-button, #insertImage-dialog .ui-button {
    margin: 0;
    margin-left: -1px;
    float: left; }
  #link-dialog .ui-button-icon-only .ui-button-text, #insertImage-dialog .ui-button-icon-only .ui-button-text {
    padding: 0.36em; }
