- content_for :head do
  %title MarkupEditor Development

%h1 MarkupEditor

%form#textile
  %textarea.markup(data-markup="textile" data-preview-only="true")= textarea 'textile'

%div.markup(data-markup="textile")
  = textarea 'html'

%div.markupClick(data-markup="textile")
  = textarea 'html'

%form#externalSelect
  %select.availableModes
    %option{:value => 'unknown'} Unknown
    %option{:value => 'textile'} Textile
%div.markupExternalSelect
  = textarea 'html'
