- content_for :head do
  %title MarkupEditor

%h1 MarkupEditor

%p
  is a small editor with a strong support for textile. Other markup languages will follow.
  It has an extensive
  = link_to "test suite", "test.html"
  \. Documentation can be found
  = link_to 'here', 'doc/index.html'
  \.

%form#textile
  %textarea.markup.textile= textarea "textile"
