- content_for :head do
  %title MarkupEditor Development

%h1 MarkupEditor

%form#textile
  %textarea.markup.textile= erb :"textareas/textile"

%form#wysiwyg
  %textarea.markup.textile.wysiwyg= erb :"textareas/textile"

%form#none
  %textarea= erb :"textareas/html"

%form#not_present
  %textarea.markup.unknownMode.wysiwyg= erb :"textareas/html"
