- content_for :head do
  %title MarkupEditor Development

%h1 MarkupEditor

%form#textile
  %textarea.markup.textile= textarea 'textile'

%form#wysiwyg
  %textarea.markup.textile.wysiwyg= textarea 'textile'

%form#none
  %textarea= textarea 'html'

%form#not_present
  %textarea.markup.unknownMode.wysiwyg= textarea 'html'
